:root{
    --background: #232829;
    --dark-grey: #313637;
    --dark-green: #1D5B43;
    --yellow-timer: #FFBB00;
    --light-green: #81FE95;
    --light-orange: #FDB056;
    --light-grey: #9B9B9B;
    --light-grey-full-price: #919191;
    --red: #FD5656;
    --white: #FFFFFF;
}