.card{
    border: 1px solid #FDB056;
    background-color: #313637;
}

.hidden{
    display: none;
}

.sale{
    background-color: #FD5656;
    color: white;
}

.hit-text{
    color: #FDB056;
}

.period{
    color: white;
}

.price{
    color: white;
}

.best-price{
    color: #FDB056;
}

.full-price{
    color: #919191;
}

.text{
    color: white;
}